.delete-button {
    position: absolute;
    top: 30px;
    right: 30px;

    button {
        font-size: 14px;
    }
}

.pendiente {
    background-color: var(--to-do-1);
}
.en_progreso {
    background-color: var(--process-1);
}
.completada {
    background-color: var(--done-1);
}